In [64]:
import numpy as np

In [65]:
import pandas as pd

lm_df = pd.read_csv('./data1.csv',index_col = 0)
lm_df.fillna(0,inplace=True)
lm_df

,고객번호,성별,연령대,거주지역,14년 상반기 구매총액,14년 하반기 구매총액,15년 상반기 구매총액,15년 하반기 구매총액,14년도총구매액,15년도총구매액,...,스포츠_레저_3,스포츠_레저_4,악세사리_1,악세사리_2,악세사리_3,악세사리_4,전자제품_1,전자제품_2,전자제품_3,전자제품_4
0,16291,F,35세~39세,100.0,7482624,4113186,6288534,4918156,11595810,11206690,...,1234.0,56486.0,0.0,2560.0,15424.0,0.0,0.0,0.0,0.0,0.0
1,6285,F,40세~44세,33.0,9895138,13051792,10041108,9263240,22946930,19304348,...,199066.0,158316.0,0.0,61674.0,30738.0,0.0,10594.0,33960.0,0.0,0.0
2,17667,F,50세~54세,100.0,9633982,6031362,6347632,9529436,15665344,15877068,...,100922.0,108952.0,743852.0,55066.0,0.0,0.0,2940776.0,0.0,0.0,262324.0
3,6830,F,40세~44세,16.0,11198064,12016148,11893584,10879814,23214212,22773398,...,139750.0,63036.0,182378.0,0.0,0.0,24158.0,0.0,0.0,0.0,0.0
4,18850,M,35세~39세,75.0,2368960,2154908,2277164,2222162,4523868,4499326,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11045,658,M,60세이상,16.0,13962894,11900146,11865478,6615468,25863040,18480946,...,0.0,0.0,655084.0,0.0,945256.0,109170.0,34322.0,134896.0,0.0,159170.0
11046,1420,M,55세~59세,500.0,23085694,17246268,25064668,25960344,40331962,51025012,...,0.0,0.0,675672.0,537224.0,2779840.0,435954.0,222564.0,150512.0,289864.0,8436660.0
11047,2374,M,50세~54세,100.0,42806370,17408828,32139274,16150822,60215198,48290096,...,0.0,0.0,25486614.0,2610132.0,9032838.0,541624.0,90678.0,4648552.0,10977368.0,567248.0
11048,3683,M,45세~49세,55.0,30483454,40281130,41562222,26983150,70764584,68545372,...,0.0,6332.0,2929874.0,8475014.0,5488382.0,894454.0,1930932.0,739230.0,3681544.0,0.0
11049,3866,M,45세~49세,60.0,37331954,40503506,23251136,25747032,77835460,48998168,...,0.0,0.0,6430806.0,11224736.0,1531630.0,436878.0,0.0,0.0,61270.0,0.0

In [66]:
lm_df.describe()

,고객번호,거주지역,14년 상반기 구매총액,14년 하반기 구매총액,15년 상반기 구매총액,15년 하반기 구매총액,14년도총구매액,15년도총구매액,식품_1,식품_2,...,스포츠_레저_3,스포츠_레저_4,악세사리_1,악세사리_2,악세사리_3,악세사리_4,전자제품_1,전자제품_2,전자제품_3,전자제품_4
count,11050.000000,11050.000000,1.105000e+04,1.105000e+04,1.105000e+04,1.105000e+04,1.105000e+04,1.105000e+04,1.105000e+04,1.105000e+04,...,1.105000e+04,1.105000e+04,1.105000e+04,1.105000e+04,1.105000e+04,1.105000e+04,1.105000e+04,1.105000e+04,1.105000e+04,1.105000e+04
mean,9408.614208,204.310317,2.068737e+07,1.733472e+07,1.685359e+07,1.345182e+07,3.802208e+07,3.030541e+07,5.170498e+06,4.502058e+06,...,9.953320e+04,3.087157e+05,2.647487e+06,1.909993e+06,2.047317e+06,1.341259e+06,9.605579e+05,6.245596e+05,7.205326e+05,4.435461e+05
std,5521.293058,187.905018,4.849549e+07,3.419153e+07,2.567213e+07,1.944200e+07,7.798320e+07,4.325188e+07,3.631934e+07,1.807271e+07,...,3.438009e+06,2.450596e+06,1.341065e+07,8.386186e+06,8.787327e+06,5.955759e+06,5.797987e+06,4.994962e+06,6.403372e+06,3.352317e+06
min,1.000000,0.000000,6.074400e+04,3.412000e+03,1.440400e+04,6.866000e+03,2.904800e+05,6.519200e+04,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4609.250000,60.000000,6.100474e+06,5.421220e+06,5.365830e+06,4.571595e+06,1.178742e+07,1.016776e+07,2.424113e+06,2.256996e+06,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,9289.500000,100.000000,9.827623e+06,8.679951e+06,8.604835e+06,7.220474e+06,1.872583e+07,1.598933e+07,3.673913e+06,3.440637e+06,...,0.000000e+00,4.148000e+03,9.533800e+04,4.948800e+04,5.555600e+04,2.401800e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,14165.250000,360.000000,2.225746e+07,1.881649e+07,1.825230e+07,1.456272e+07,4.168983e+07,3.353198e+07,5.313518e+06,4.965743e+06,...,2.663500e+04,6.309700e+04,1.221716e+06,8.753185e+05,9.089560e+05,5.446835e+05,1.143545e+05,7.235300e+04,5.123000e+04,3.873200e+04
max,19346.000000,630.000000,2.884750e+09,1.522371e+09,6.311896e+08,5.318347e+08,4.407120e+09,9.654732e+08,2.875399e+09,1.518715e+09,...,3.553047e+08,2.022108e+08,8.988172e+08,3.102747e+08,4.254969e+08,2.599757e+08,4.276844e+08,4.150762e+08,5.037250e+08,2.447637e+08

In [67]:
col_list = list(lm_df.columns[10:])
col_list

['식품_1',
 '식품_2',
 '식품_3',
 '식품_4',
 '생활_1',
 '생활_2',
 '생활_3',
 '생활_4',
 '잡화_1',
 '잡화_2',
 '잡화_3',
 '잡화_4',
 '화장품_1',
 '화장품_2',
 '화장품_3',
 '화장품_4',
 '시설_1',
 '시설_2',
 '시설_3',
 '시설_4',
 '문화_1',
 '문화_2',
 '문화_3',
 '문화_4',
 '의류_1',
 '의류_2',
 '의류_3',
 '의류_4',
 '가구_1',
 '가구_2',
 '가구_3',
 '가구_4',
 '아동_1',
 '아동_2',
 '아동_3',
 '아동_4',
 '스포츠_레저_1',
 '스포츠_레저_2',
 '스포츠_레저_3',
 '스포츠_레저_4',
 '악세사리_1',
 '악세사리_2',
 '악세사리_3',
 '악세사리_4',
 '전자제품_1',
 '전자제품_2',
 '전자제품_3',
 '전자제품_4']

In [68]:
for col in col_list:
    col_arr = np.array(list(set(lm_df[col])))
    q1 = np.percentile(col_arr,25)
    q2 = np.percentile(col_arr,50)
    q3 = np.percentile(col_arr,75)
    q4 = np.max(col_arr)
    lm_df.loc[(lm_df[col]==0),col]=0
    lm_df.loc[(lm_df[col]>0)&(lm_df[col]<q1),col]=1
    lm_df.loc[(lm_df[col]>=q1)&(lm_df[col]<q2),col]=2
    lm_df.loc[(lm_df[col]>=q2)&(lm_df[col]<q3),col]=3
    lm_df.loc[(lm_df[col]>=q3)&(lm_df[col]<=q4),col]=4
    print(q1,q2,q3,q4)

2423497.0 3674558.0 5314213.0 2875398614.0
2261354.5 3446012.0 4969297.5 1518715402.0
2326418.5 3575190.0 5104091.5 599443108.0
1930946.0 3119651.0 4527175.5 528897338.0
311683.5 568691.0 1091109.0 387771406.0
295726.0 550858.0 1046061.0 170126212.0
266098.0 509754.0 990531.0 212821348.0
229229.5 454782.0 871374.0 131045748.0
43384.0 96576.0 188238.0 224303552.0
43290.5 93925.0 182798.0 44623350.0
41419.0 89101.0 171698.5 17292212.0
36985.0 76718.0 146834.0 17663754.0
158067.0 456116.0 1326183.0 474984348.0
139929.0 389930.0 1153425.0 397106614.0
143242.5 399444.0 1207083.5 156167042.0
122022.0 332298.0 968602.0 141017086.0
125936.5 292810.0 611033.0 64331540.0
115456.5 282695.0 614362.5 66960432.0
108801.5 262232.0 561224.5 52226768.0
103523.0 249334.0 547675.0 72150692.0
29222.0 71598.0 161572.0 117075612.0
29231.0 70644.0 148876.0 148051742.0
32807.0 77868.0 167534.0 118202020.0
30550.0 73782.0 156187.5 49300156.0
690346.5 2397191.0 9065916.5 742502896.0
569571.0 1982839.0 7514231.0 1194128110.0
539772.0 1901466.0 7371490.5 324176938.0
434718.5 1507574.0 5700614.5 246771364.0
133580.0 572903.0 3186334.0 81318166.0
114151.5 372702.0 2446243.5 93510584.0
122694.5 442520.0 2597402.0 132267632.0
102082.0 308014.0 1772925.0 65296756.0
163538.0 463106.0 1317219.5 120378854.0
151185.0 424780.0 1207962.0 63242806.0
163524.0 445302.0 1226578.0 47633642.0
151420.0 411064.0 1114782.0 33842478.0
30736.0 80942.0 218800.0 226603560.0
24660.0 58804.0 138056.0 230274644.0
21145.0 51150.0 126889.0 355304704.0
30237.0 91703.0 349765.5 202210832.0
487288.0 1380820.0 4282786.0 898817208.0
319138.5 1020636.0 3380917.5 310274688.0
310510.0 1001084.0 3243910.0 425496910.0
224162.0 716812.0 2481114.0 259975720.0
175206.0 720552.0 2928202.0 427684410.0
140841.0 465086.0 2029216.0 415076226.0
112704.0 429318.0 2110656.0 503724968.0
128708.5 432315.0 1620254.5 244763744.0

In [69]:
lm_df[col_list]

,식품_1,식품_2,식품_3,식품_4,생활_1,생활_2,생활_3,생활_4,잡화_1,잡화_2,...,스포츠_레저_3,스포츠_레저_4,악세사리_1,악세사리_2,악세사리_3,악세사리_4,전자제품_1,전자제품_2,전자제품_3,전자제품_4
0,3.0,2.0,2.0,2.0,4.0,3.0,3.0,3.0,4.0,2.0,...,1.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,3.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,4.0,3.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
2,3.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,1.0,...,3.0,3.0,2.0,1.0,0.0,0.0,4.0,0.0,0.0,2.0
3,4.0,4.0,4.0,4.0,3.0,4.0,3.0,3.0,4.0,3.0,...,4.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,1.0,1.0,1.0,2.0,1.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11045,4.0,4.0,4.0,3.0,4.0,3.0,4.0,2.0,2.0,3.0,...,0.0,0.0,2.0,0.0,2.0,1.0,1.0,1.0,0.0,2.0
11046,3.0,3.0,4.0,4.0,4.0,3.0,4.0,3.0,2.0,1.0,...,0.0,0.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,4.0
11047,3.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,...,0.0,0.0,4.0,3.0,4.0,2.0,1.0,4.0,4.0,3.0
11048,2.0,3.0,4.0,4.0,2.0,3.0,4.0,4.0,1.0,3.0,...,0.0,1.0,3.0,4.0,4.0,3.0,3.0,3.0,4.0,0.0
11049,3.0,4.0,4.0,4.0,4.0,3.0,4.0,3.0,2.0,4.0,...,0.0,0.0,4.0,4.0,3.0,2.0,0.0,0.0,1.0,0.0

In [71]:
lm_df.to_csv('data2.csv')

In [73]:
new_df = pd.read_csv('data2.csv',index_col=0)
new_df

,고객번호,성별,연령대,거주지역,14년 상반기 구매총액,14년 하반기 구매총액,15년 상반기 구매총액,15년 하반기 구매총액,14년도총구매액,15년도총구매액,...,스포츠_레저_3,스포츠_레저_4,악세사리_1,악세사리_2,악세사리_3,악세사리_4,전자제품_1,전자제품_2,전자제품_3,전자제품_4
0,16291,F,35세~39세,100.0,7482624,4113186,6288534,4918156,11595810,11206690,...,1.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,6285,F,40세~44세,33.0,9895138,13051792,10041108,9263240,22946930,19304348,...,4.0,3.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
2,17667,F,50세~54세,100.0,9633982,6031362,6347632,9529436,15665344,15877068,...,3.0,3.0,2.0,1.0,0.0,0.0,4.0,0.0,0.0,2.0
3,6830,F,40세~44세,16.0,11198064,12016148,11893584,10879814,23214212,22773398,...,4.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,18850,M,35세~39세,75.0,2368960,2154908,2277164,2222162,4523868,4499326,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11045,658,M,60세이상,16.0,13962894,11900146,11865478,6615468,25863040,18480946,...,0.0,0.0,2.0,0.0,2.0,1.0,1.0,1.0,0.0,2.0
11046,1420,M,55세~59세,500.0,23085694,17246268,25064668,25960344,40331962,51025012,...,0.0,0.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,4.0
11047,2374,M,50세~54세,100.0,42806370,17408828,32139274,16150822,60215198,48290096,...,0.0,0.0,4.0,3.0,4.0,2.0,1.0,4.0,4.0,3.0
11048,3683,M,45세~49세,55.0,30483454,40281130,41562222,26983150,70764584,68545372,...,0.0,1.0,3.0,4.0,4.0,3.0,3.0,3.0,4.0,0.0
11049,3866,M,45세~49세,60.0,37331954,40503506,23251136,25747032,77835460,48998168,...,0.0,0.0,4.0,4.0,3.0,2.0,0.0,0.0,1.0,0.0