In [1]:
import cx_Oracle
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)
con = cx_Oracle.connect('LM_PDB/LM@localhost:1521/xepdb1')
cursor = con.cursor()

In [2]:
cursor.execute("select 소분류코드, 중분류명, 소분류명 from prodcl")
x = cursor.fetchall()
df1 = pd.DataFrame(x,columns = ['소분류코드','중분류명','소분류명'])
df1

        소분류코드  중분류명      소분류명
0     A060143   스포츠     레드페이스
1     A060144   스포츠      에코로바
2     A060145   스포츠     웨스트우드
3     A060146   스포츠     투스카로라
4     A060147   스포츠     아크테릭스
...       ...   ...       ...
4381  A060249  골프용품     골프존마켓
4382  A060252  골프용품  해리토리 상품군
4383  A060107   스포츠     스포츠용품
4384  B710204    등산      등산소품
4385  B360102  롤러보드    스케이트보드

[4386 rows x 3 columns]

In [3]:
cursor.execute("select 고객번호, 소분류코드, count(*) from purprod group by 고객번호, 소분류코드 order by 고객번호")
x = cursor.fetchall()
df2 = pd.DataFrame(x,columns = ['고객번호','소분류코드','구매횟수'])
df2

          고객번호    소분류코드  구매횟수
0        00001  A010101     5
1        00001  A010103     3
2        00001  A010104     1
3        00001  A010106     3
4        00001  A010201     2
...        ...      ...   ...
6527915  19383  D080203     5
6527916  19383  D080204     4
6527917  19383  D080205     1
6527918  19383  D080302     2
6527919  19383  D080401     1

[6527920 rows x 3 columns]

In [4]:
df2_matrix = df2.pivot_table('구매횟수',index = '고객번호', columns = '소분류코드')
df2_matrix

소분류코드,A010101,A010102,A010103,A010104,A010105,A010106,A010201,A010202,A010203,A010204,...,D080102,D080103,D080201,D080202,D080203,D080204,D080205,D080301,D080302,D080401
고객번호,,,,,,,,,,,,,,,,,,,,,
00001,5.0,NaN,3.0,1.0,NaN,3.0,2.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00002,29.0,NaN,12.0,18.0,NaN,2.0,10.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
00003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00004,15.0,NaN,8.0,2.0,NaN,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00005,18.0,NaN,10.0,5.0,NaN,4.0,1.0,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19379,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,2.0,4.0,3.0,3.0,4.0,1.0,7.0,18.0,6.0
19380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,NaN,6.0,6.0,3.0,12.0,2.0,2.0,11.0,5.0
19381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,3.0,6.0,5.0,4.0,1.0,NaN,2.0,1.0

In [20]:
prod_df.소분류명.value_counts()

어묵           23453
종량제봉투        22716
고추           22322
일반스낵         21877
양파           21128
             ...
장류세트             1
온라인기능헤어케어        1
규격고등어선물세트        1
기타세트             1
기타한방약재           1
Name: 소분류명, Length: 3520, dtype: int64

In [23]:
prod_df = pd.merge(df2,df1,on='소분류코드')

prod_matrix = prod_df.pivot_table('구매횟수',index = '고객번호', columns = '소분류명',aggfunc='sum')

prod_matrix = prod_matrix.fillna(0)
prod_matrix

소분류명,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
00001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00004,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19379,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19381,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19382,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19383,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
prod_matrix_T = prod_matrix.transpose()
prod_matrix_T

고객번호,00001,00002,00003,00004,00005,00006,00007,00008,00009,00010,...,19374,19375,19376,19377,19378,19379,19380,19381,19382,19383
소분류명,,,,,,,,,,,,,,,,,,,,,
14K,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2단우산,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3단우산,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3분요리류,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0
4대 B/D,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
흑미류,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
흰다리새우,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
히터,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
히터기,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
힐앤토트,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(prod_matrix_T,prod_matrix_T)

item_sim_df = pd.DataFrame(data = item_sim, index = prod_matrix.columns, columns = prod_matrix.columns)

print(item_sim_df.shape)
item_sim_df

(3520, 3520)

소분류명,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
소분류명,,,,,,,,,,,,,,,,,,,,,
14K,1.000000,0.002385,0.003774,0.016906,0.075611,0.014094,0.002715,0.032527,0.007716,0.051733,...,0.000000,0.0,0.030456,0.035955,0.008597,0.016306,0.019584,0.002615,0.000000,0.019064
2단우산,0.002385,1.000000,0.108753,0.008639,0.003466,0.000000,0.000000,0.001012,0.000000,0.012811,...,0.000000,0.0,0.004174,0.013300,0.055446,0.011149,0.012676,0.089082,0.000000,0.000947
3단우산,0.003774,0.108753,1.000000,0.008173,0.006399,0.006332,0.000000,0.000267,0.000000,0.000000,...,0.000000,0.0,0.000000,0.014351,0.071931,0.014115,0.008946,0.017622,0.000000,0.000000
3분요리류,0.016906,0.008639,0.008173,1.000000,0.023621,0.004123,0.004506,0.008605,0.003472,0.011930,...,0.000000,0.0,0.012020,0.142246,0.012212,0.174298,0.181499,0.002353,0.008184,0.003753
4대 B/D,0.075611,0.003466,0.006399,0.023621,1.000000,0.000975,0.000763,0.025409,0.009512,0.026837,...,0.002569,0.0,0.018908,0.035034,0.013810,0.025138,0.020951,0.002488,0.000000,0.014083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
흑미류,0.016306,0.011149,0.014115,0.174298,0.025138,0.005020,0.000302,0.004971,0.000000,0.011051,...,0.000000,0.0,0.005237,0.131783,0.026592,1.000000,0.211751,0.003493,0.000000,0.004456
흰다리새우,0.019584,0.012676,0.008946,0.181499,0.020951,0.013306,0.001533,0.006314,0.003167,0.016902,...,0.006095,0.0,0.010461,0.122104,0.013003,0.211751,1.000000,0.000000,0.004977,0.004177
히터,0.002615,0.089082,0.017622,0.002353,0.002488,0.000000,0.000000,0.000528,0.000000,0.000000,...,0.000000,0.0,0.000000,0.013257,0.035345,0.003493,0.000000,1.000000,0.000000,0.000000
히터기,0.000000,0.000000,0.000000,0.008184,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.004977,0.000000,1.000000,0.000000
힐앤토트,0.019064,0.000947,0.000000,0.003753,0.014083,0.047981,0.021954,0.008828,0.018607,0.009601,...,0.000000,0.0,0.015016,0.007249,0.000902,0.004456,0.004177,0.000000,0.000000,1.000000

In [26]:
def predict_prod_topsim(prod_arr,item_sim_arr,n=20):
    pred = np.zeros(prod_arr.shape)
    
    for col in range(prod_arr.shape[1]):
        
        top_n_times = [np.argsort(item_sim_arr[:,col])[:-n-1:-1]]
        
        for row in range(prod_arr.shape[0]):
            pred[row,col] = item_sim_arr[col,:][top_n_times].dot(prod_arr[row,:][top_n_times].T)
            pred[row,col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_times]))
            
    return pred

prod_pred = predict_prod_topsim(prod_matrix.values,item_sim_df.values,n=20)

prod_pred_matrix = pd.DataFrame(data = prod_pred, index = prod_matrix.index, columns = prod_matrix.columns)

prod_pred_matrix

C:\Users\Master\AppData\Local\Temp\ipykernel_21256\1731475551.py:9: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row,col] = item_sim_arr[col,:][top_n_times].dot(prod_arr[row,:][top_n_times].T)
C:\Users\Master\AppData\Local\Temp\ipykernel_21256\1731475551.py:10: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row,col] /= np.sum(np.abs(item_sim_arr[col,:][top_n_times]))

소분류명,14K,2단우산,3단우산,3분요리류,4대 B/D,5 ON THE GO,ACC Bloom (1F),ACC Bloom (3F),AK골프,ANDZ,...,휴대폰기타용품,휴모니아,휴지류,휴지통,흑미,흑미류,흰다리새우,히터,히터기,힐앤토트
고객번호,,,,,,,,,,,,,,,,,,,,,
00001,5.045882,0.454075,0.494592,0.234602,3.268160,0.115472,0.067378,1.256738,0.945291,1.240603,...,0.021681,0.679104,12.134910,0.214494,0.560732,0.224604,0.092314,0.031638,0.022000,2.944517
00002,3.553246,0.000000,0.000000,0.092400,3.923611,0.236658,0.044733,1.210751,0.548546,0.863894,...,0.000000,0.594976,19.778490,0.084690,0.000000,0.042562,0.000000,0.000000,0.000000,1.293543
00003,0.000000,3.336270,1.908329,0.000000,0.034384,0.000000,0.000000,0.000000,0.000000,0.028521,...,0.020326,0.000000,0.000000,0.000000,2.399222,0.000000,0.000000,0.498521,0.000000,0.000000
00004,1.308525,0.334995,0.614662,0.297659,1.552265,0.000000,0.089466,0.343664,0.141329,0.907045,...,0.027312,0.088421,8.195346,0.048135,0.495233,0.143169,0.043165,0.035890,0.105503,0.321932
00005,0.782746,0.035026,0.000000,0.000000,0.746055,0.096193,0.104377,0.388129,0.022327,0.186234,...,0.000000,0.204360,19.602707,0.000000,0.000000,0.000000,0.044707,0.000000,0.000000,0.261091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19379,0.547061,1.787842,0.150629,0.191596,0.384031,0.000000,0.053886,0.188811,0.000000,0.252688,...,0.000000,0.000000,0.263891,0.083938,0.214485,0.085123,0.000000,0.000000,0.022000,0.000000
19380,0.041652,1.511408,0.305666,0.000000,0.000000,0.000000,0.014911,0.036915,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.040621,0.174167,0.045790,0.000000,0.105821,0.000000,0.000000
19381,0.000000,0.371252,0.413150,2.286792,0.000000,0.000000,0.000000,0.018873,0.000000,0.000000,...,0.083872,0.036229,0.000000,1.063589,0.291562,2.353671,2.301050,0.000000,0.246897,0.000000
19382,0.000000,0.447329,0.526313,6.121251,0.069957,0.000000,0.000000,0.000000,0.000000,0.059073,...,0.027312,0.000000,0.034134,0.810746,0.411716,4.203254,1.509108,0.348048,0.384016,0.000000
19383,0.174196,0.450335,0.000000,0.318803,0.438268,0.000000,0.014911,0.075079,0.000000,0.058683,...,0.000000,0.023471,0.167509,0.000000,0.000000,0.048821,0.000000,0.000000,0.000000,0.026109

In [28]:
def get_zero_prod(prod_matrix,userId):
    user_prod = prod_matrix.loc[userId,:]
    
    already_buy = user_prod[user_prod > 0].index.tolist()
    
    prod_list = prod_matrix.columns.tolist()
    
    unbuy_list = [prod for prod in prod_list if prod not in already_buy]
    
    return unbuy_list

def recomm_prod_by_userid(pred_df, userId, unbuy_list, top_n=10):
    
    recomm_prod = pred_df.loc[userId,unbuy_list].sort_values(ascending=False)[:top_n]
    
    return recomm_prod

In [64]:
user_prod_id = prod_matrix.loc['00005',:]
user_prod_id[user_prod_id>0].sort_values(ascending=False)[:10]

소분류명
유제품       160.0
채소         88.0
농산가공       75.0
밥류         47.0
일반가공식품     41.0
청과         33.0
수입식품       25.0
주류         24.0
일식델리       19.0
서양델리       18.0
Name: 00005, dtype: float64

In [65]:
unbuy_list = get_zero_prod(prod_matrix,'00005')

recomm_prod =recomm_prod_by_userid(prod_pred_matrix,'00005',unbuy_list,top_n=10)

recomm_prod_df = pd.DataFrame(data=recomm_prod.values,index=recomm_prod.index,columns=['pred_score'])

recomm_prod_df

         pred_score
소분류명
계육        26.095324
가공행사      25.823045
건과        25.094209
멸치류       25.036357
전문베이커리    24.723370
수입육       23.952036
건생선       23.916558
떡         23.831161
규격김치      23.702259
선식(가루류)   23.282230