In [33]:
from sklearn.preprocessing import scale
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
lm_df = pd.read_csv('test.csv',index_col=0)
lm_df = lm_df.loc[lm_df.label == 1]
lm_df1 = lm_df.drop('label',axis=1)
lm_df1 = lm_df1.drop('고객번호',axis=1)
col_list = lm_df1.columns
for col in col_list:
    lm_df1[col] = np.where(lm_df1[col]<0,-lm_df1[col],lm_df1[col])
lm_df1

,총구매지수,선매품_구매지수,편의품_구매지수,전문품_구매지수,기타_구매지수,A_구매지수,B_구매지수,C_구매지수,D_구매지수,가공식품_구매지수,...,교육/문화용품_구매지수,가구/인테리어_구매지수,시설_구매지수,의약품/의료기기_구매지수,총구매횟수변동,성별,연령대,거주지역,RECENCY,성장률
0,0.6,0.0,2.4,9.0,0.0,0.6,1.4,0.0,0.0,0.6,...,0.0,1.0,0.0,10.0,7,1,9,9,4,10.0
1,0.0,0.0,0.6,9.0,0.0,0.0,1.0,0.0,10.0,3.6,...,0.0,0.0,0.0,0.0,5,1,9,2,7,14.0
2,0.0,1.2,0.6,0.0,0.0,1.8,0.8,0.0,0.0,0.6,...,0.0,0.0,0.0,0.0,5,1,9,9,2,30.0
3,1.2,0.6,0.2,0.0,0.0,0.0,1.0,0.6,0.0,1.6,...,0.0,0.6,0.0,6.0,5,0,9,9,1,27.0
4,2.0,0.4,4.2,4.8,0.0,0.6,1.8,0.0,10.0,0.6,...,0.0,1.8,0.0,9.0,5,1,9,2,41,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19367,2.0,4.0,3.0,0.0,0.0,5.0,4.0,7.0,10.0,1.0,...,0.0,0.0,0.0,10.0,10,0,1,9,1,0.0
19368,1.0,1.0,1.0,0.0,0.0,0.0,3.0,0.0,10.0,1.0,...,2.0,0.0,0.0,9.0,8,0,1,9,1,0.0
19369,3.0,4.0,6.0,0.0,0.0,4.0,8.0,0.0,0.0,5.0,...,5.0,7.0,0.0,0.0,10,0,5,8,2,0.0
19370,2.0,2.0,3.0,0.0,0.0,4.0,7.0,0.0,0.0,4.0,...,6.0,5.0,0.0,0.0,10,0,6,8,1,0.0
19371,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,10.0,1.0,...,0.0,0.0,0.0,0.0,5,0,2,3,5,0.0

In [34]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, silhouette_samples

for col in col_list:
    lm_df1[col] = np.log1p(lm_df1[col])

X_scaled = StandardScaler().fit_transform(lm_df1)
kmeans = KMeans(n_clusters = 3, random_state =0)
labels = kmeans.fit_predict(X_scaled)
lm_df['cluster_label'] = labels
lm_df

,고객번호,총구매지수,선매품_구매지수,편의품_구매지수,전문품_구매지수,기타_구매지수,A_구매지수,B_구매지수,C_구매지수,D_구매지수,...,시설_구매지수,의약품/의료기기_구매지수,총구매횟수변동,성별,연령대,거주지역,RECENCY,성장률,label,cluster_label
0,1,-0.6,0.0,2.4,9.0,0.0,-0.6,1.4,0.0,0.0,...,0.0,10.0,7,1,9,9,4,-10.0,1,0
1,2,0.0,0.0,-0.6,9.0,0.0,0.0,1.0,0.0,10.0,...,0.0,0.0,5,1,9,2,7,14.0,1,0
2,3,0.0,-1.2,-0.6,0.0,0.0,-1.8,0.8,0.0,0.0,...,0.0,0.0,5,1,9,9,2,-30.0,1,2
3,4,-1.2,-0.6,0.2,0.0,0.0,0.0,1.0,-0.6,0.0,...,0.0,-6.0,5,0,9,9,1,-27.0,1,0
4,5,-2.0,0.4,-4.2,-4.8,0.0,-0.6,-1.8,0.0,10.0,...,0.0,9.0,5,1,9,2,41,-46.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19367,19379,2.0,4.0,3.0,0.0,0.0,5.0,4.0,7.0,10.0,...,0.0,10.0,10,0,1,9,1,0.0,1,1
19368,19380,1.0,1.0,1.0,0.0,0.0,0.0,3.0,0.0,10.0,...,0.0,9.0,8,0,1,9,1,0.0,1,0
19369,19381,3.0,4.0,6.0,0.0,0.0,4.0,8.0,0.0,0.0,...,0.0,0.0,10,0,5,8,2,0.0,1,1
19370,19382,2.0,2.0,3.0,0.0,0.0,4.0,7.0,0.0,0.0,...,0.0,0.0,10,0,6,8,1,0.0,1,1
19371,19383,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,10.0,...,0.0,0.0,5,0,2,3,5,0.0,1,0

In [35]:
c0 =  list(lm_df.loc[lm_df['cluster_label'] == 0,'고객번호'])
c1 =  list(lm_df.loc[lm_df['cluster_label'] == 1,'고객번호'])
c2 =  list(lm_df.loc[lm_df['cluster_label'] == 2,'고객번호'])

In [36]:
print(len(c0),len(c1),len(c2))

4841 2573 2926

In [57]:
import pandas as pd
c0l = pd.DataFrame(c0,columns=['고객번호'])
c0l

       고객번호
0         1
1         2
2         4
3        11
4        14
...     ...
4836  19323
4837  19329
4838  19332
4839  19380
4840  19383

[4841 rows x 1 columns]

In [58]:
c0_clu= pd.DataFrame(c0l,columns=['고객번호'])
c0_cluster = lm_df.merge(c0_clu,on='고객번호')
c0_cluster

,고객번호,총구매지수,선매품_구매지수,편의품_구매지수,전문품_구매지수,기타_구매지수,A_구매지수,B_구매지수,C_구매지수,D_구매지수,...,시설_구매지수,의약품/의료기기_구매지수,총구매횟수변동,성별,연령대,거주지역,RECENCY,성장률,label,cluster_label
0,1,-0.6,0.0,2.4,9.0,0.0,-0.6,1.4,0.0,0.0,...,0.0,10.0,7,1,9,9,4,-10.0,1,0
1,2,0.0,0.0,-0.6,9.0,0.0,0.0,1.0,0.0,10.0,...,0.0,0.0,5,1,9,2,7,14.0,1,0
2,4,-1.2,-0.6,0.2,0.0,0.0,0.0,1.0,-0.6,0.0,...,0.0,-6.0,5,0,9,9,1,-27.0,1,0
3,11,0.0,-0.6,-1.2,1.0,-6.0,0.0,-1.2,0.0,0.0,...,0.0,-6.0,5,1,9,2,1,22.0,1,0
4,14,0.0,0.4,-0.6,10.0,4.0,1.0,-1.2,0.0,0.0,...,-6.0,0.0,5,0,9,9,1,20.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4836,19323,0.0,0.0,-0.6,0.0,0.0,1.2,0.0,-4.2,-6.0,...,0.0,4.0,5,0,1,2,178,-93.0,1,0
4837,19329,-0.6,0.4,-0.6,0.0,0.0,-1.8,0.0,0.0,0.0,...,0.0,0.0,5,1,5,5,5,-7.0,1,0
4838,19332,-0.8,-0.6,-0.8,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,5,0,4,3,1,-36.0,1,0
4839,19380,1.0,1.0,1.0,0.0,0.0,0.0,3.0,0.0,10.0,...,0.0,9.0,8,0,1,9,1,0.0,1,0
4840,19383,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,10.0,...,0.0,0.0,5,0,2,3,5,0.0,1,0

In [51]:
c0_cluster.to_csv('c0_cluster(2).csv')

In [59]:
c0_clu = c0_cluster[['고객번호', '총구매지수', '선매품_구매지수', '편의품_구매지수', '전문품_구매지수', '기타_구매지수',
       'A_구매지수', 'B_구매지수', 'C_구매지수', 'D_구매지수', '가공식품_구매지수', '신선식품_구매지수','일상용품_구매지수']].describe()
c0_clu

,고객번호,총구매지수,선매품_구매지수,편의품_구매지수,전문품_구매지수,기타_구매지수,A_구매지수,B_구매지수,C_구매지수,D_구매지수,가공식품_구매지수,신선식품_구매지수,일상용품_구매지수
count,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000
mean,8878.385458,-0.136583,-0.035819,-0.106631,0.999959,0.733567,0.053171,0.188556,0.712911,0.758108,0.040942,0.038918,0.157240
std,5559.487791,0.586306,0.600645,1.138946,3.784015,3.263869,0.916023,1.442149,2.851495,2.931651,1.488380,1.194445,1.460736
min,1.000000,-2.600000,-2.400000,-5.400000,-6.000000,-6.000000,-3.600000,-6.000000,-6.000000,-6.000000,-5.400000,-4.800000,-5.000000
25%,4057.000000,-0.600000,-0.600000,-0.600000,0.000000,0.000000,-0.600000,-0.600000,-0.200000,0.000000,-0.600000,-0.600000,-0.600000
50%,8309.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,13560.000000,0.200000,0.400000,0.400000,2.800000,0.000000,0.400000,0.400000,2.000000,0.000000,0.800000,0.800000,1.000000
max,19383.000000,2.200000,2.400000,7.000000,10.000000,10.000000,5.000000,10.000000,9.000000,10.000000,7.400000,7.400000,9.000000

In [60]:
c01 = c0_cluster[['의류_구매지수', '패션잡화_구매지수', '전문스포츠/레저_구매지수', '디지털/가전_구매지수',
       '교육/문화용품_구매지수', '가구/인테리어_구매지수', '시설_구매지수', '의약품/의료기기_구매지수', '총구매횟수변동',
       '성별', '연령대', '거주지역', 'RECENCY']].describe()
c01

,의류_구매지수,패션잡화_구매지수,전문스포츠/레저_구매지수,디지털/가전_구매지수,교육/문화용품_구매지수,가구/인테리어_구매지수,시설_구매지수,의약품/의료기기_구매지수,총구매횟수변동,성별,연령대,거주지역,RECENCY
count,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000,4841.000000
mean,0.045734,0.226895,0.377112,0.077835,0.561496,0.414419,0.489899,0.275439,5.797562,0.180128,5.831027,6.532121,4.826276
std,0.802135,1.404878,2.055669,3.375964,2.737334,2.523037,3.068811,2.229463,1.310291,0.384334,1.792764,3.794495,23.613104
min,-3.600000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,5.000000,0.000000,0.000000,0.000000,1.000000
25%,-0.600000,-0.600000,-0.600000,-2.400000,-0.200000,-0.800000,0.000000,0.000000,5.000000,0.000000,5.000000,2.000000,1.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,6.000000,8.000000,2.000000
75%,0.400000,1.000000,1.200000,2.000000,1.200000,1.400000,0.000000,0.000000,6.000000,0.000000,7.000000,9.000000,4.000000
max,4.000000,7.800000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,9.000000,16.000000,544.000000

In [52]:
c1

[5,
 9,
 17,
 18,
 34,
 46,
 51,
 52,
 53,
 56,
 57,
 61,
 65,
 74,
 84,
 87,
 89,
 98,
 100,
 109,
 135,
 138,
 152,
 164,
 184,
 187,
 219,
 230,
 253,
 260,
 261,
 273,
 280,
 299,
 301,
 308,
 312,
 319,
 320,
 325,
 326,
 344,
 355,
 364,
 365,
 371,
 381,
 382,
 391,
 394,
 405,
 411,
 412,
 423,
 429,
 433,
 448,
 453,
 462,
 489,
 491,
 506,
 517,
 520,
 522,
 526,
 527,
 539,
 558,
 567,
 569,
 574,
 589,
 606,
 612,
 615,
 622,
 630,
 634,
 635,
 636,
 644,
 662,
 677,
 681,
 689,
 718,
 723,
 731,
 742,
 774,
 789,
 811,
 815,
 826,
 830,
 835,
 842,
 843,
 844,
 849,
 856,
 869,
 872,
 873,
 881,
 890,
 921,
 930,
 949,
 960,
 961,
 963,
 966,
 969,
 972,
 985,
 988,
 994,
 1004,
 1015,
 1022,
 1028,
 1038,
 1039,
 1042,
 1049,
 1054,
 1059,
 1095,
 1096,
 1101,
 1105,
 1117,
 1123,
 1129,
 1156,
 1180,
 1192,
 1219,
 1236,
 1239,
 1241,
 1243,
 1245,
 1254,
 1258,
 1274,
 1275,
 1291,
 1292,
 1302,
 1306,
 1319,
 1323,
 1327,
 1330,
 1331,
 1342,
 1350,
 1357,
 1358,
 1363,
 1366,
 1385,
 1390,
 1403,
 1409,
 1418,
 1425,
 1431,
 1433,
 1443,
 1444,
 1447,
 1448,
 1455,
 1477,
 1490,
 1491,
 1499,
 1505,
 1516,
 1518,
 1521,
 1528,
 1534,
 1546,
 1573,
 1583,
 1593,
 1604,
 1605,
 1606,
 1610,
 1620,
 1624,
 1626,
 1630,
 1669,
 1671,
 1677,
 1682,
 1687,
 1694,
 1701,
 1731,
 1732,
 1738,
 1752,
 1755,
 1759,
 1785,
 1790,
 1791,
 1797,
 1802,
 1809,
 1815,
 1816,
 1821,
 1824,
 1835,
 1838,
 1850,
 1852,
 1853,
 1855,
 1857,
 1874,
 1875,
 1877,
 1882,
 1894,
 1897,
 1899,
 1913,
 1923,
 1925,
 1929,
 1931,
 1937,
 1954,
 1956,
 1958,
 1965,
 1968,
 1976,
 1983,
 1984,
 1995,
 1996,
 2003,
 2004,
 2026,
 2030,
 2031,
 2042,
 2043,
 2048,
 2052,
 2056,
 2058,
 2069,
 2078,
 2079,
 2083,
 2092,
 2093,
 2097,
 2098,
 2099,
 2106,
 2111,
 2114,
 2116,
 2120,
 2123,
 2163,
 2169,
 2171,
 2186,
 2195,
 2204,
 2210,
 2219,
 2234,
 2263,
 2271,
 2278,
 2292,
 2294,
 2295,
 2305,
 2308,
 2320,
 2323,
 2333,
 2334,
 2356,
 2359,
 2366,
 2369,
 2376,
 2389,
 2394,
 2404,
 2427,
 2434,
 2441,
 2470,
 2481,
 2486,
 2495,
 2496,
 2501,
 2515,
 2523,
 2528,
 2536,
 2548,
 2551,
 2552,
 2555,
 2557,
 2562,
 2577,
 2584,
 2595,
 2606,
 2608,
 2633,
 2669,
 2688,
 2693,
 2695,
 2697,
 2704,
 2705,
 2709,
 2723,
 2729,
 2730,
 2732,
 2741,
 2751,
 2755,
 2760,
 2783,
 2793,
 2795,
 2798,
 2815,
 2816,
 2822,
 2824,
 2830,
 2833,
 2853,
 2861,
 2868,
 2874,
 2887,
 2892,
 2900,
 2903,
 2914,
 2915,
 2923,
 2924,
 2933,
 2937,
 2943,
 2945,
 2954,
 2959,
 2973,
 2992,
 2998,
 3011,
 3013,
 3029,
 3030,
 3041,
 3061,
 3064,
 3074,
 3081,
 3084,
 3086,
 3091,
 3106,
 3116,
 3131,
 3141,
 3142,
 3143,
 3145,
 3154,
 3167,
 3189,
 3196,
 3197,
 3213,
 3214,
 3215,
 3221,
 3224,
 3226,
 3239,
 3247,
 3266,
 3272,
 3293,
 3296,
 3301,
 3304,
 3318,
 3323,
 3331,
 3332,
 3348,
 3354,
 3359,
 3366,
 3370,
 3374,
 3385,
 3386,
 3408,
 3415,
 3420,
 3425,
 3430,
 3432,
 3437,
 3442,
 3443,
 3444,
 3446,
 3450,
 3457,
 3458,
 3462,
 3467,
 3483,
 3496,
 3497,
 3506,
 3509,
 3510,
 3525,
 3526,
 3528,
 3529,
 3538,
 3539,
 3541,
 3542,
 3545,
 3548,
 3555,
 3563,
 3574,
 3595,
 3604,
 3606,
 3620,
 3628,
 3633,
 3634,
 3655,
 3660,
 3673,
 3683,
 3688,
 3691,
 3694,
 3698,
 3700,
 3705,
 3706,
 3709,
 3710,
 3717,
 3725,
 3730,
 3731,
 3740,
 3741,
 3747,
 3749,
 3774,
 3776,
 3780,
 3789,
 3806,
 3830,
 3846,
 3848,
 3849,
 3852,
 3855,
 3856,
 3867,
 3868,
 3871,
 3874,
 3877,
 3891,
 3899,
 3902,
 3909,
 3911,
 3921,
 3933,
 3934,
 3935,
 3978,
 3981,
 3986,
 3993,
 4001,
 4015,
 4025,
 4027,
 4041,
 4042,
 4043,
 4045,
 4048,
 4051,
 4059,
 4063,
 4068,
 4072,
 4074,
 4078,
 4083,
 4090,
 4094,
 4097,
 4103,
 4110,
 4145,
 4147,
 4158,
 4167,
 4168,
 4176,
 4187,
 4192,
 4193,
 4199,
 4204,
 4210,
 4228,
 4231,
 4233,
 4255,
 4262,
 4280,
 4285,
 4287,
 4290,
 4297,
 4300,
 4304,
 4306,
 4310,
 4318,
 4336,
 4342,
 4350,
 4361,
 4390,
 4393,
 4422,
 4444,
 4460,
 4461,
 4467,
 4471,
 4474,
 4478,
 4490,
 4495,
 4508,
 4518,
 4525,
 4534,
 4549,
 4550,
 4556,
 4557,
 4575,
 4581,
 4585,
 4587,
 4593,
 4595,
 4597,
 4607,
 4615,
 4618,
 4639,
 4656,
 4680,
 4681,
 4686,
 4692,
 4702,
 4712,
 4728,
 4735,
 4740,
 4748,
 4762,
 4772,
 4801,
 4807,
 4811,
 4812,
 4822,
 4839,
 4844,
 4850,
 4857,
 4862,
 4876,
 4877,
 4879,
 4886,
 4887,
 4900,
 4917,
 4928,
 4930,
 4932,
 4935,
 4955,
 4959,
 4965,
 4975,
 4983,
 4987,
 4989,
 4994,
 4999,
 5009,
 5026,
 5031,
 5036,
 5043,
 5053,
 5091,
 5104,
 5106,
 5119,
 5143,
 5147,
 5150,
 5155,
 5168,
 5169,
 5171,
 5181,
 5194,
 5201,
 5205,
 5206,
 5208,
 5212,
 5225,
 5236,
 5240,
 5241,
 5247,
 5249,
 5260,
 5269,
 5277,
 5279,
 5285,
 5290,
 5292,
 5305,
 5320,
 5340,
 5363,
 5365,
 5389,
 5415,
 5418,
 5424,
 5428,
 5430,
 5432,
 5448,
 5453,
 5457,
 5463,
 5479,
 5489,
 5508,
 5515,
 5540,
 5552,
 5555,
 5560,
 5562,
 5583,
 5590,
 5601,
 5606,
 5611,
 5616,
 5629,
 5632,
 5633,
 5634,
 5641,
 5647,
 5652,
 5655,
 5666,
 5683,
 5687,
 5689,
 5692,
 5704,
 5716,
 5722,
 5732,
 5736,
 5750,
 5756,
 5760,
 5766,
 5768,
 5770,
 5772,
 5774,
 5775,
 5784,
 5788,
 5789,
 5804,
 5828,
 5831,
 5838,
 5841,
 5842,
 5847,
 5848,
 5849,
 5853,
 5854,
 5874,
 5878,
 5910,
 5912,
 5918,
 5922,
 5924,
 5927,
 5937,
 5938,
 5946,
 5951,
 5957,
 5958,
 5974,
 5977,
 5982,
 5984,
 5993,
 5996,
 5997,
 5999,
 6017,
 6036,
 6052,
 6053,
 6060,
 6086,
 6088,
 6107,
 6121,
 6129,
 6130,
 6138,
 6150,
 6155,
 6158,
 6162,
 6194,
 6198,
 6210,
 6215,
 6221,
 6254,
 6257,
 6259,
 6263,
 6266,
 6274,
 6275,
 6279,
 6292,
 6294,
 6297,
 6309,
 6311,
 6318,
 6320,
 6326,
 6334,
 6345,
 6365,
 6369,
 6374,
 6379,
 6381,
 6386,
 6394,
 6421,
 6441,
 6448,
 6450,
 6459,
 6477,
 6478,
 6480,
 6495,
 6519,
 6540,
 6551,
 6556,
 6571,
 6572,
 6581,
 6582,
 6585,
 6600,
 6603,
 6607,
 6614,
 6617,
 6618,
 6621,
 6632,
 6636,
 6639,
 6643,
 6645,
 6650,
 6658,
 6663,
 6664,
 6665,
 6667,
 6669,
 6689,
 6716,
 6737,
 6754,
 6757,
 6777,
 6786,
 6793,
 6798,
 6808,
 6809,
 6815,
 6838,
 6845,
 6868,
 6869,
 6880,
 6885,
 6888,
 6891,
 6893,
 6896,
 6898,
 6903,
 6912,
 6922,
 6930,
 6933,
 6948,
 6952,
 6961,
 6970,
 6976,
 6983,
 6989,
 7002,
 7004,
 7013,
 7024,
 7025,
 7029,
 7042,
 7044,
 7046,
 7048,
 7050,
 7051,
 7053,
 7063,
 7068,
 7069,
 7070,
 7075,
 7082,
 7083,
 7086,
 7089,
 7095,
 7121,
 7122,
 7124,
 7147,
 7158,
 7171,
 7172,
 7184,
 7187,
 7195,
 7197,
 7200,
 7206,
 7213,
 7228,
 7231,
 7239,
 7241,
 7247,
 7249,
 7250,
 7253,
 7256,
 7257,
 7258,
 7270,
 7274,
 7283,
 7295,
 7299,
 7305,
 7309,
 7324,
 7329,
 7335,
 7341,
 7347,
 7348,
 7368,
 7369,
 7371,
 7399,
 7400,
 7401,
 7411,
 7415,
 7424,
 7431,
 7449,
 7451,
 7452,
 7459,
 7477,
 7485,
 7486,
 7491,
 7499,
 7501,
 7507,
 7521,
 7525,
 7532,
 7540,
 7554,
 7555,
 7558,
 7562,
 7563,
 7566,
 7567,
 7570,
 7575,
 7579,
 7586,
 7598,
 7600,
 7603,
 7609,
 7611,
 ...]

In [53]:
c1_c = pd.DataFrame(c1,columns=['고객번호'])
c1_c
c1_cluster = lm_df.merge(c1_c,on='고객번호')
c1_cluster.describe()

,고객번호,총구매지수,선매품_구매지수,편의품_구매지수,전문품_구매지수,기타_구매지수,A_구매지수,B_구매지수,C_구매지수,D_구매지수,...,시설_구매지수,의약품/의료기기_구매지수,총구매횟수변동,성별,연령대,거주지역,RECENCY,성장률,label,cluster_label
count,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,...,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.0,2573.0
mean,9620.898562,-0.320326,-0.041508,0.035989,0.837932,0.779091,0.171473,0.520560,0.946522,0.767198,...,0.560358,0.442208,6.401866,0.187719,5.387097,6.555383,4.972406,-7.435678,1.0,1.0
std,5465.330574,2.026591,1.595265,2.970052,3.933055,3.386174,1.816011,2.247895,3.168655,2.911443,...,3.319730,2.499855,1.849559,0.390563,1.885779,3.867727,11.311939,84.980353,0.0,0.0
min,5.000000,-5.400000,-5.400000,-5.400000,-6.000000,-6.000000,-5.400000,-5.400000,-5.400000,-6.000000,...,-6.000000,-6.000000,5.000000,0.000000,0.000000,0.000000,1.000000,-100.000000,1.0,1.0
25%,4975.000000,-1.800000,-1.200000,-2.400000,0.000000,0.000000,-0.600000,-1.200000,-0.600000,0.000000,...,0.000000,0.000000,5.000000,0.000000,4.000000,2.000000,1.000000,-51.000000,1.0,1.0
50%,9437.000000,-0.600000,-0.200000,-0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,5.000000,0.000000,5.000000,8.000000,2.000000,-31.000000,1.0,1.0
75%,14232.000000,1.000000,0.800000,2.000000,3.000000,0.000000,1.000000,1.200000,2.400000,0.000000,...,0.000000,0.000000,8.000000,0.000000,7.000000,9.000000,4.000000,24.000000,1.0,1.0
max,19382.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,1.000000,9.000000,16.000000,197.000000,2425.000000,1.0,1.0

In [42]:
c1_clu = c1_cluster[['고객번호', '총구매지수', '선매품_구매지수', '편의품_구매지수', '전문품_구매지수', '기타_구매지수',
       'A_구매지수', 'B_구매지수', 'C_구매지수', 'D_구매지수', '가공식품_구매지수', '신선식품_구매지수','일상용품_구매지수']].describe()
c1_clu

,고객번호,총구매지수,선매품_구매지수,편의품_구매지수,전문품_구매지수,기타_구매지수,A_구매지수,B_구매지수,C_구매지수,D_구매지수,가공식품_구매지수,신선식품_구매지수,일상용품_구매지수
count,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000
mean,9620.898562,-0.320326,-0.041508,0.035989,0.837932,0.779091,0.171473,0.520560,0.946522,0.767198,0.173572,0.183055,0.232958
std,5465.330574,2.026591,1.595265,2.970052,3.933055,3.386174,1.816011,2.247895,3.168655,2.911443,2.980630,2.553239,2.421541
min,5.000000,-5.400000,-5.400000,-5.400000,-6.000000,-6.000000,-5.400000,-5.400000,-5.400000,-6.000000,-5.400000,-6.000000,-5.400000
25%,4975.000000,-1.800000,-1.200000,-2.400000,0.000000,0.000000,-0.600000,-1.200000,-0.600000,0.000000,-2.200000,-1.800000,-1.200000
50%,9437.000000,-0.600000,-0.200000,-0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.400000,-0.200000,0.000000
75%,14232.000000,1.000000,0.800000,2.000000,3.000000,0.000000,1.000000,1.200000,2.400000,0.000000,2.000000,2.000000,1.400000
max,19382.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [43]:
c11 = c1_cluster[['의류_구매지수', '패션잡화_구매지수', '전문스포츠/레저_구매지수', '디지털/가전_구매지수',
       '교육/문화용품_구매지수', '가구/인테리어_구매지수', '시설_구매지수', '의약품/의료기기_구매지수', '총구매횟수변동',
       '성별', '연령대', '거주지역', 'RECENCY']].describe()
c11

,의류_구매지수,패션잡화_구매지수,전문스포츠/레저_구매지수,디지털/가전_구매지수,교육/문화용품_구매지수,가구/인테리어_구매지수,시설_구매지수,의약품/의료기기_구매지수,총구매횟수변동,성별,연령대,거주지역,RECENCY
count,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000,2573.000000
mean,0.068869,0.281073,0.491255,0.121492,0.817956,0.474932,0.560358,0.442208,6.401866,0.187719,5.387097,6.555383,4.972406
std,1.720071,2.296709,2.791573,3.674534,3.100635,3.172316,3.319730,2.499855,1.849559,0.390563,1.885779,3.867727,11.311939
min,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,5.000000,0.000000,0.000000,0.000000,1.000000
25%,-1.200000,-1.200000,-1.200000,-2.400000,-0.600000,-1.600000,0.000000,0.000000,5.000000,0.000000,4.000000,2.000000,1.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,5.000000,8.000000,2.000000
75%,1.000000,1.400000,2.000000,2.000000,2.000000,2.000000,0.000000,0.000000,8.000000,0.000000,7.000000,9.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,9.000000,16.000000,197.000000

In [65]:
c1_cluster.to_csv('c1_custer(2).csv')

In [62]:
c2u = pd.DataFrame(c2,columns=['고객번호'])
c2u
c2_cluster = lm_df.merge(c2u,on='고객번호')
c2_cluster

,고객번호,총구매지수,선매품_구매지수,편의품_구매지수,전문품_구매지수,기타_구매지수,A_구매지수,B_구매지수,C_구매지수,D_구매지수,...,시설_구매지수,의약품/의료기기_구매지수,총구매횟수변동,성별,연령대,거주지역,RECENCY,성장률,label,cluster_label
0,3,0.0,-1.2,-0.6,0.0,0.0,-1.8,0.8,0.0,0.0,...,0.0,0.0,5,1,9,9,2,-30.0,1,2
1,10,-0.2,1.8,-0.6,-5.4,0.0,0.4,3.0,0.0,10.0,...,0.0,0.0,5,0,9,9,4,3.0,1,2
2,20,0.4,1.2,0.0,0.0,0.0,0.4,2.0,6.0,0.0,...,0.0,0.0,5,1,9,9,1,3.0,1,2
3,22,0.0,-0.6,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6,0,9,0,2,-14.0,1,2
4,27,-0.2,-0.2,-0.6,3.0,0.0,-0.2,-2.4,-0.6,0.0,...,0.0,0.0,5,1,9,9,2,-34.0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2921,19344,1.0,-0.6,0.0,0.0,0.0,1.0,-0.6,5.4,0.0,...,0.0,0.0,8,1,2,2,12,203.0,1,2
2922,19346,0.0,-0.2,-0.6,0.0,0.0,3.8,0.0,-2.4,0.0,...,0.0,0.0,5,0,7,9,16,-95.0,1,2
2923,19354,1.0,1.4,1.0,0.0,0.0,2.4,0.0,2.0,10.0,...,0.0,9.0,9,0,1,2,1,0.0,1,2
2924,19370,8.0,8.0,1.0,0.0,0.0,8.0,0.0,4.0,0.0,...,0.0,0.0,10,0,2,9,1,0.0,1,2
2925,19373,1.0,3.0,1.0,0.0,0.0,3.4,0.0,6.4,10.0,...,0.0,10.0,10,0,2,2,1,0.0,1,2

In [63]:
c2_clu = c2_cluster[['고객번호', '총구매지수', '선매품_구매지수', '편의품_구매지수', '전문품_구매지수', '기타_구매지수',
       'A_구매지수', 'B_구매지수', 'C_구매지수', 'D_구매지수', '가공식품_구매지수', '신선식품_구매지수','일상용품_구매지수']].describe()
c2_clu

,고객번호,총구매지수,선매품_구매지수,편의품_구매지수,전문품_구매지수,기타_구매지수,A_구매지수,B_구매지수,C_구매지수,D_구매지수,가공식품_구매지수,신선식품_구매지수,일상용품_구매지수
count,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000
mean,10468.398154,-0.177444,0.267669,-0.197676,0.452768,0.351880,0.618455,0.214081,0.299453,0.424470,-0.171634,-0.058647,0.063636
std,5500.742969,1.144224,1.729594,0.908005,2.657668,2.423855,2.224301,1.529272,1.892667,2.167421,1.170779,0.948322,1.435895
min,3.000000,-4.200000,-4.800000,-4.200000,-6.000000,-6.000000,-4.800000,-4.200000,-6.000000,-6.000000,-4.800000,-4.800000,-5.400000
25%,5721.500000,-0.800000,-1.200000,-0.600000,0.000000,0.000000,-1.200000,-0.600000,0.000000,0.000000,-0.800000,-0.600000,-0.600000
50%,11004.500000,-0.200000,0.400000,-0.200000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000,-0.200000,0.000000,0.000000
75%,15186.500000,0.400000,1.400000,0.400000,0.000000,0.000000,2.000000,0.800000,0.150000,0.000000,0.400000,0.400000,0.800000
max,19373.000000,9.000000,9.000000,6.000000,10.000000,10.000000,10.000000,7.000000,9.000000,10.000000,5.400000,5.000000,9.000000

In [64]:
c12 = c2_cluster[['의류_구매지수', '패션잡화_구매지수', '전문스포츠/레저_구매지수', '디지털/가전_구매지수',
       '교육/문화용품_구매지수', '가구/인테리어_구매지수', '시설_구매지수', '의약품/의료기기_구매지수', '총구매횟수변동',
       '성별', '연령대', '거주지역', 'RECENCY']].describe()
c12

,의류_구매지수,패션잡화_구매지수,전문스포츠/레저_구매지수,디지털/가전_구매지수,교육/문화용품_구매지수,가구/인테리어_구매지수,시설_구매지수,의약품/의료기기_구매지수,총구매횟수변동,성별,연령대,거주지역,RECENCY
count,2926.000000,2926.0000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000
mean,0.367464,0.6054,0.863841,-0.191934,0.622146,0.418592,0.279973,0.970540,5.884826,0.189337,5.591251,6.317498,3.559467
std,1.978111,2.5476,3.067977,2.089961,2.697803,2.822897,2.774206,3.921994,1.418099,0.391843,1.776305,4.109112,18.249881
min,-5.400000,-6.0000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,5.000000,0.000000,0.000000,0.000000,1.000000
25%,-1.200000,-1.2000,-1.200000,-1.200000,-0.200000,-1.200000,0.000000,0.000000,5.000000,0.000000,4.000000,2.000000,1.000000
50%,0.400000,0.4000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,6.000000,7.000000,1.000000
75%,1.800000,2.0000,3.000000,1.000000,2.000000,2.000000,0.000000,0.400000,7.000000,0.000000,7.000000,9.000000,2.000000
max,10.000000,10.0000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,9.000000,16.000000,466.000000

In [66]:
c2_cluster.to_csv('c2_cluster(2).csv')